body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form select,
form textarea {
  margin-bottom: 1rem;
  width: calc(100% - 2px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #555;
}

#animals {
  list-style-type: none;
  padding: 0;
}

#animals li {
  margin-bottom: 1rem;
}

#animals li h3 {
  margin: 0;
}

#animals li p {
  margin-top: 0.5rem;
}

.pet-shop {
  display: flex;
  align-items: center;
}

.pet-shop-details {
  flex: 1;
}

.pet-shop-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.pet-shop-image img {
  width: 675px; /* ปรับขนาดของรูปภาพตามที่ต้องการ */
  height: auto;
}
